
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BKSTORE | Ecommerce website</title>


{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:ital,wght@0,400;0,500;1,200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="{% static 'images/BKSTORELOGO.png'%}" width="255px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index.html"> Home</a></li>
                    <li><a href="Products.html">Products</a></li>
                    <li><a href="ABOUT.html">About</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                    <li><a href="Account.html">Account</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </nav>
            <a href="cart.html"><img src="{% static 'images//cart.png'%}" style="margin-left: 10px;" width="30px" height="30px" ></a>
            <img src="{% static 'images/menu.png'%}" class="menu-icon" onclick="menutoggle()">
        </div>




        
        
        <head>
            <title>About BKSTORE</title>
        </head>
        <body>
            <header> 
                <h1>About BKSTORE</h1> 
            </header>
            <main>
                <section>
                    <h2>Our Story</h2>
                    <p>BKSTORE was founded in 2023 by Bakhout Aymane a football fan who wanted to bring the joy of vintage football kits to fans around the world. We are a small store in Casablanca and we want to grow to become one of the leading online retailers of football kits.</p>
                    <p>Our mission is to provide fans with high-quality, authentic vintage kits at affordable prices. We believe that everyone should have the chance to own a piece of football history, and we work hard to make that dream a reality.</p>
                    
                </section>
                <section>
                    <h2>Our Products</h2>
                    <p>At BKSTORE, we have a wide selection of vintage football kits from different teams and eras. Whether you're a fan of classic teams like Brazil and Italy, or you prefer more obscure kits from lesser-known teams, we've got something for you.</p>
                    <p>All of our kits are carefully selected and authenticated to ensure that you're getting the real deal. We also offer a range of customization options, so you can add your own personal touch to your kit.</p>
                    
                </section>
                <section>
                    <h2>Our Team</h2>
                    <p>Our team is made up of passionate football fans who are dedicated to providing you with the best possible shopping experience. From our customer service representatives to our warehouse staff, everyone at BKSTORE is committed to making sure that you're happy with your purchase.</p>
                    <p>We're always looking for ways to improve our store and our products, so if you have any feedback or suggestions, please don't hesitate to get in touch.</p>
                    
                </section>
                
            </main>
            
        






        

            <div class="footer">
                <div class="container">
                    <div class="row">
                        
                        <div class="footer-col-2">
                            <img src="{% static 'images/BKSTORELOGO.png'%}">
                            <p>Step up your game with our collection of vintage football jerseys. From classic teams to iconic players, our jerseys are the perfect way to showcase your love for the game. Shop now and score a winning look!</p>
                        </div>
                        <div class="footer-col-8">
                            <img src="{% static 'images/PL.png' %}">
                            <p>Payement at Delivery</p>
                            
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>

</body>
</html>